*{
	margin:0 auto;
	border:0 auto;
	background-color: powderblue;
	font-family: 'Courier Prime';
	font-size: 22px;
}

.tile{
	margin:1rem;
	border:0.15rem solid black;
	border-radius: 0.1rem;
	box-shadow: 0.15rem 0.15rem 0.25rem #3f3f3f;
}

.head{
	padding:1rem;
	background: #FFAEAE;
	text-align: center;
	font-size: 2rem;
}

.s_head{
	position: relative;
	width: 100px;
	float: right;
	left: 0.15rem;
	top: -0.15rem;
	border:0.15rem solid black;
	border-radius: 0.1rem;
	padding:0.5rem;
	text-align: center;
	font-size: 1.1rem;
}

.para{
	padding: 0.75rem;
	font-size: 1rem; 
}

#one p{
	background: #56BAEC;
}

#one h1{
	background: #FFEC94;
}

#two p{
	background: #B0E57C;
}

#two h1{
	background: #FFAEAE;
}

#three p{
	background: #FFF0AA;
}

#three h1{
	background: #56BAEC;
}

@media only screen and (min-width: 992px){
	#one{
		position: absolute;
		width: 30%;
	}
	#two{
		position: absolute;
		left: 33.34%;
		width: 30%;
	}
	#three{
		position: absolute;
		left: 66.67%;
		width: 30%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	#one{
		position: absolute;
		width: 44%;
	}
	#two{
		position: absolute;
		left: 50%;
		width: 44%;
	}
	#three{
		position: absolute;
		top: 110%;
	}
}
